version: 2

defaults: &defaults
  docker:
    - image: circleci/node:10
  working_directory: ~/react-slate

jobs:
  install-dependencies:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/react-slate
      - restore_cache:
          keys:
            - dependencies-{{ checksum "yarn.lock" }}
            - dependencies-
      - run: yarn install --frozen-lockfile
      - save_cache:
          key: dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: .
          paths: .
  lint-and-flow:
      <<: *defaults
      steps:
        - attach_workspace:
            at: ~/react-slate
        - run: |
            yarn run lint
            yarn run typecheck
  unit-tests:
      <<: *defaults
      steps:
        - attach_workspace:
            at: ~/react-slate
        - run: yarn test --coverage
        - store_artifacts:
            path: coverage
            destination: coverage
workflows:
  version: 2
  build-and-test:
    jobs:
      - install-dependencies
      - lint-and-flow:
          requires:
            - install-dependencies
      - unit-tests:
          requires:
            - install-dependencies
